﻿@{
    ViewBag.Title = "Sprofile";
}
<h1>Skapa event</h1>
<form class="ui form">

    <h4 class="ui dividing header">Event</h4>
    <div class="field">
        <label>Rubrik</label>
        <input type="text" name="event[header]" placeholder="Rubrik på eventet">
    </div>
    <div class="fields">
        <div class="four wide field">
            <label>Startdatum (ex. 2017-03-01 16:00:00)</label>
            <input type="text" name="event[startdate]" placeholder="yyyy-MM-dd HH:mm:ss">
        </div>
        <div class="four wide field">
            <label>Slutdatum (ex. 2017-03-01 17:00:00)</label>
            <input type="text" name="event[enddate]" placeholder="yyyy-MM-dd HH:mm:ss">
        </div>
    </div>
    <div class="field">
        <label>Beskrivning</label>
        <textarea name="event[description]" rows="2"></textarea>
    </div>
    <div class="field">
        <label>Sport (ex. Fotboll, Basket)</label>
        <input type="text" name="event[tags]" placeholder="tag1, tag2...">
    </div>
    <div class="field">
        <label>Bild (Välj bild från listan)</label>
        <select id="img-list" name="event[imageUrl]" class="ui fluid dropdown">
            <option>Välj bild:</option>
        </select>
    </div>
    <div class="field" id="img-preview">

    </div>

    <h4 class="ui dividing header">Plats</h4>
    <div class="fields">
        <div class="five wide field">
            <label>Adress</label>
            <input type="text" name="location[address]" placeholder="gata">
        </div>
        <div class="four wide field">
            <label>Stad</label>
            <input type="text" name="location[city]" placeholder="Göteborg">
        </div>
    </div>
    <div class="field">
        <label>Kordinater (hämta kordinater från <a href="http://www.mapcoordinates.net/en" target="_blank">http://www.mapcoordinates.net/en</a>)</label>
        <div class="fields">
            <div class="five wide field">
                <input type="text" name="location[latitude]" placeholder="Latitude">
            </div>
            <div class="five wide field">
                <input type="text" name="location[longitude]" placeholder="Longitude">
            </div>
        </div>
    </div>

    <h4 class="ui dividing header">Organisatör</h4>
    <div class="fields">
        <div class="eight wide field">
            <label>Namn</label>
            <input type="text" name="orginazer[name]" placeholder="Namn">
        </div>
        <div class="eight wide field">
            <label>E-postadress</label>
            <input type="text" name="orginazer[email]" placeholder="din@epost.se">
        </div>
    </div>
    <div class="fields">
        <div class="eight wide field">
            <label>Telefon</label>
            <input type="text" name="orginazer[phone]" placeholder="07xx-xxxxxx">
        </div>
    </div>
    <div class="field">
        <label>Url (url till organisatören)</label>
        <input type="text" name="orginazer[siteurl]" placeholder="http://">
    </div>
    <div class="field">
        <label>Event url (url till det specifika eventet)</label>
        <input type="text" name="orginazer[eventurl]" placeholder="http://">
    </div>
    <div class="field">
        <label>api key</label>
        <input type="text" name="api[key]" placeholder="secret">
    </div>
    <div class="ui button" id="create-btn" tabindex="0">Skapa event</div>
</form>

@section scripts {
    <script>
    $(document).ready(() => {
        var sprofile = new Sprofile();
        sprofile.create();
    });
    </script>
}