﻿@{
    Layout = "";
    bool deletable;
    string css;

    var list = new List<string>()
    {
        "american-fotball.jpg",
        "basketball.jpg",
        "cycling.jpg",
        "fitness.jpg",
        "golf.jpg",
        "kayaking.jpg",
        "lacrosse.jpg",
        "marathon.jpg",
        "moto.jpg",
        "quarterback-67701.jpg",
        "race.jpg",
        "swimming.jpg"
    };
}

<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Sprofile</title>

    <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="~/dist/mdstyle.css" rel="stylesheet" />
</head>
<body>


<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">

        <div class="demo-blog__posts mdl-grid">
            
            <div class="mdl-cell mdl-cell--5-col mdl-cell--middle">
                <img class="mdl-layout-title" src="~/images/top-header-logo.png" />
            </div>
            <div class="mdl-cell mdl-cell--7-col mdl-typography--text-right">
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="search">
                    <label class="mdl-textfield__label" for="search">Sök event...</label>
                </div>

                <button id="menu-speed" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">more_vert</i>
                </button>
                <ul class="mdl-menu mdl-js-menu" for="menu-speed">
                    <li class="mdl-menu__item">Om oss</li>
                    <li class="mdl-menu__item">Kontakt</li>
                </ul>
            </div>
            

            <div class="mdl-cell mdl-cell--10-col">
                <div><strong>Välj aktivitet</strong></div>
                @for (int i = 0; i < 15; i++)
                {
                    deletable = false;
                    css = string.Empty;
                    if (i == 3 || i == 6)
                    {
                        deletable = true;
                        css = "mdl-chip--deletable mdl-color-bg-active";
                    }
                    @* mdl-badge mdl-badge--overlap mdl-badge--no-background  data-badge="@i" *@
                    <span class="mdl-chip mdl-color-bg @css">
                        <a href="#"><span class="mdl-chip__text">Sport @i</span></a>
                        @if (deletable)
                        {
                            <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
                        }
                    </span>
                }
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <div><strong>Kommande</strong></div>
                <span class="mdl-chip mdl-color-bg-active">
                    <a href="#"><span class="mdl-chip__text">Vecka</span></a>
                </span>
                <span class="mdl-chip mdl-color-bg">
                    <a href="#"><span class="mdl-chip__text">Månad</span></a>
                </span>
            </div>
            

            
            <!-- one -->
            <div class="mdl-card coffee-pic mdl-cell mdl-cell--8-col">
                <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url('http://res.cloudinary.com/forloop/image/upload/c_thumb,h_360,w_600/sprofile/Crossfit.jpg');">
                    <h3><a href="#">Säsongsstart för frisbeegolf i Slottsskogen</a></h3>
                </div>
                <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                    <div>
                        <strong>Slottskogen, Göteborg</strong>
                        <span>20 mars kl 17:00-20:00 (om 2 dagar)</span>
                    </div>

                </div>
            </div>
            
            <!-- two -->
            <div class="mdl-card coffee-pic mdl-cell mdl-cell--4-col">
                <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url('http://res.cloudinary.com/forloop/image/upload/c_thumb,h_360,w_360/sprofile/cycling.jpg');">
                    <h3><a href="#">Säsongsstart för frisbeegolf i Slottsskogen</a></h3>
                </div>
                <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                    <div>
                        <strong>Heden, Göteborg</strong>
                        <span>20 mars kl 17:00-20:00 (om 2 dagar)</span>
                    </div>
                </div>
            </div>
            
            <!--
            loop 
            http://res.cloudinary.com/forloop/image/upload/e_art:eucalyptus/v1489842257/sprofile/cycling.jpg
            http://res.cloudinary.com/forloop/image/upload/e_art:eucalyptus,c_thumb,h_360,w_360/sprofile/cycling.jpg
            e_art:al_dente,
            -->
            @for (int i = 0; i < 6; i++)
            {
                <div class="mdl-card on-the-road-again mdl-cell mdl-cell--4-col">
                    <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url('http://res.cloudinary.com/forloop/image/upload/c_thumb,h_360,w_360/sprofile/@list[i]');">
                        <h3><a href="#" class="modal">Ett fotboll nu @i</a></h3>
                    </div>
                    <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                        <div>
                            <strong>Heden, Göteborg</strong>
                            <span>23 mars kl 17:00-19:00 (om 3 dagar)</span>
                        </div>
                    </div>
                </div>
            }
            <!-- end -->

        </div>
    </main>
</div>



    
    
    
<dialog id="dialog" class="mdl-dialog">
    <h3 class="mdl-dialog__title">Ett event</h3>
    <div class="mdl-dialog__content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--5-col">
                <img src="http://res.cloudinary.com/forloop/image/upload/c_thumb,h_290,w_290/sprofile/cycling.jpg" class="image" />
            </div>
            <div class="mdl-cell mdl-cell--7-col">
                
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Allow this site to collect usage data to improve your experience?</td>
                    </tr>
                    <tr>
                        <td>

                            <ul class="mdl-list">
                                <li><strong>Tid och plats</strong></li>
                                <li>23 mars kl 17:00-19:00 (om 3 dagar)</li>
                                <li>Heden, Göteborg</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ul class="mdl-list">
                                <li><strong>Organisatör</strong></li>
                                <li>Peter Karlsson</li>
                                <li><a href="#" target="">www.sunet.se</a></li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="mdl-chip mdl-color-bg-active">
                                <span class="mdl-chip__text">Fotboll</span>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Stäng</button>
    </div>
</dialog>


<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/material-design-lite/material.min.js"></script>

<script>
    $(document).ready(() => {
        //$('.post-module').hover(function () {
        //    $(this).find('.description').stop().animate({
        //        height: "toggle",
        //        opacity: "toggle"
        //    }, 300);
        //});

        var dialogButton = document.querySelector('.modal');
        var dialog = document.querySelector('#dialog');
        if (! dialog.showModal) {
            dialogPolyfill.registerDialog(dialog);
        }
        dialogButton.addEventListener('click', function() {
            dialog.showModal();
        });
        dialog.querySelector('button:not([disabled])')
            .addEventListener('click', function() {
                dialog.close();
            });
    });
</script>
</body>
</html>


