﻿@model Sprofile.Web.Model.ActivityEventResultModel
@{
    ViewBag.Title = "Sprofile";


    string css = string.Empty;
    int loaded = 1 * Model.ItemsPerPage;

    if (Model.TotalHits <= loaded)
    {
        css = "display:none;";
    }
}

<div class="ui two column centered grid">
    <div class="column">
        <div class="ui form">
            <div class="ui huge fluid icon input field">
                <input type="text" id="search-input" placeholder="Search...">
                <i id="search-btn" class="search link icon"></i>
            </div>

            <div class="ui labels">
                <label>Kommande</label> 
                <a class="ui basic label blue" data-type="days" data-days="7">vecka</a>
                <a class="ui basic label" data-type="days" data-days="30">månad</a>
            </div>
        </div>
    </div>
</div>

<div id="tags" class="ui centered grid">
    @Html.Raw(string.Join(" ", Model.Tags.Select(x => $"<a class=\"ui label\" data-type=\"tag\" data-tag=\"{x.Key}\">{x.Key}<div class=\"detail\">{x.Count}</div></a>")))
</div>

@*<div class="ui four column centered grid">
    <div class="column">
        <div>Visar @Model.ItemsPerPage av @Model.TotalHits</div>
    </div>
</div>*@

<div class="ui four column centered grid">
    <div class="column"></div>
</div>


<div id="eventcards" class="ui stackable four column grid cards">
    @*<h4 class="ui horizontal divider header">
        Föregående event
    </h4>*@
    @foreach (var evt in Model.Events)
    {
        @*if (evt.StartDate.Date >= Model.StartDate.Date && one)
        {
            <h4 class="ui horizontal divider header">
                Kommande event
            </h4>
            one = false;
        }*@

        <div class="card" data-id="@evt.Id">
            <div class="image">
                @* http://res.cloudinary.com/forloop/image/upload/c_thumb,h_250,w_250/v1489842261/sprofile/basketball.jpg *@
                <img src="http://res.cloudinary.com/forloop/image/upload/c_thumb,h_180,w_250/sprofile/@(evt.ImageUrl)">
            </div>
            <div class="content">
                <div class="header">@evt.Header</div>
                <div class="meta">
                    <a class="ui small label">
                        <i class="calendar icon"></i><time class="timeago" datetime="@evt.StartDate" title="@evt.StartDate.ToString("yyyy-MM-dd")">-</time>
                    </a>
                    <div class="ui small label">
                        <i class="wait icon"></i> @evt.StartDate.ToString("HH:mm") - @evt.EndDate.ToString("HH:mm")
                    </div>
                </div>
                <div class="description">
                    <p>@evt.Description</p>
                    <p class="mini">Arrangör: @evt.Orginazer.Name (@evt.Orginazer.Email)</p>
                </div>
                <div>
                    @string.Join(", ", evt.Tags)
                </div>
            </div>
            <div class="extra content">
                <i class="marker icon"></i>@evt.Location.City, @evt.Location.Address
            </div>
        </div>
    }


</div>
<div><button id="more" class="fluid ui button" style="@css">Visa fler...</button></div>





<div id="modal" class="ui modal">

</div>



@*<div class="ui basic modal">
    <div class="ui icon header">
        <i class="archive icon"></i>
        Archive Old Messages
    </div>
    <div class="content">
        <p>Your inbox is getting full, would you like us to enable automatic archiving of old messages?</p>
    </div>
    <div class="actions">
        <div class="ui red basic cancel inverted button">
            <i class="remove icon"></i>
            No
        </div>
        <div class="ui green ok inverted button">
            <i class="checkmark icon"></i>
            Yes
        </div>
    </div>
</div>*@



@section scripts {
<script>
    $(document).ready(() => {
        var sprofile = new Sprofile();
        sprofile.start();
    });
</script>
}