﻿<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title</title>
    
    <link type="text/plain" rel="author" href="/humans.txt"/>
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/ico/favicon.png">

    <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">

    <style>
        .logo { text-align: center; }
        .logo img { margin-top: 1em; margin-bottom: 1em; }
        p.mini { font-size: 0.7rem; }
        .container { padding-bottom: 2em;}
        .footer.segment { padding: 5em 0em; }
    </style>
</head>
<body>

<div class="ui container logo">
    <img src="~/images/sprofile-white-bg-web.png" />
</div>

<div class="pusher">
    <div class="ui container">
        @RenderBody()
    </div>
</div>

<script src="/dist/jquery.min.js"></script>
<script src="/dist/jquery.timeago.js"></script>
<script src="/dist/jquery.timeago.sv.js"></script>
<script src="/dist/semantic.min.js"></script>

<script src="/app/app.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>
