﻿<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" type="text/css" href="/node_modules/semantic-ui/dist/semantic.min.css">

    <style>
        .logo { text-align: center; }
        .logo img { margin-top: 1em; margin-bottom: 1em; }
        p.mini { font-size: 0.7rem; }
        .container { padding-bottom: 2em;}
        .footer.segment { padding: 5em 0em; }
    </style>
</head>
<body>

<div class="ui container logo">
    <img src="~/images/sprofile-white-bg-web.png" />
</div>

<div class="pusher">
    <div class="ui container">
        @RenderBody()
    </div>
</div>

<script src="/node_modules/jquery/dist/jquery.js"></script>
<script src="/node_modules/timeago/jquery.timeago.js"></script>
<script src="/node_modules/timeago/locales/jquery.timeago.sv.js"></script>
<script src="/node_modules/semantic-ui/dist/semantic.min.js"></script>

<script src="/app/app.js"></script>

@RenderSection("scripts", required: false)
</body>
</html>
